MYSQL_DATABASE=university_v2
MYSQL_ROOT_PASSWORD=root
MYSQL_PORT=3306
TZ=Asia/Shanghai

DB_URL=jdbc:mysql://127.0.0.1:3306/university_v2?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=root

APP_JWT_SECRET=change-me-change-me-change-me-change-me
APP_FILE_STORAGE_ROOT=./data/uploads
APP_FILE_PUBLIC_BASE_URL=http://localhost:8080/api/v1/files
